<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.9.1.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
    <pre>
    $ sudo ipfw add pipe 1 in proto udp
    $ sudo ipfw piep1 config plr 0.2

    // show
    // $sudo ipfw list

    // delete
    // $sudo ipfw delete 000100
    </pre>

    <p>Room url : <span id="room-url"></span></p>

    <button id="start">start</button>
    <button id="send-offer">send Offer</button>
    
    <section>
      <h1>Views</h1>
      <video id="local" autoplay></video>
      <video id="remote" autplay></video>
    </section>

    <section id="send">
      <h1>send</h1>
      <form id="text">
        <p>
          <label for="mesg">
            Input your message to remote peer
          </label>
          <br>
          <input type="text" name="mesg" style="width:480px"></textarea>
        </p>
        <button type="submit">send</button>
      </form>
      <form id="file">
        <p>
        <input type="file" name="file">
        </p>
      </form>
    </section>
    <section id="receive">
      <h1>receive</h1>
      <output>
        <ul></ul>
      </output>

    </section>

  </body>
  <script src="/javascripts/gum.js"></script>
</html>
